<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Календарь дежурств</title>
    {% endif %}

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <p/>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
        <table margin="10%">
                            <tr>
                                <td>Пользователи</td>
                            </tr>
                        <tbody>
                        {% for user in schedule_users %}
                            <tr>
                                <td>
                                    <p>{{user}}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
        </table>
        </div>

        <div class="col-md-4">
        <div class="col-md-offset-3">
        <table>
            <tr>
            <td>
                <form action="/" method="POST">
                    <button type="submit" class="btn btn-default" name="month_prev" value={{month_prev}}><</button>
                    <input type="hidden" name=month_cur value={{month_digit}}>
                </form>
            </td>
            <td>
                {{month}} {{year}}
            </td>
            <td>
                <form action="/" method="POST">
                    <button type="submit" class="btn btn-default" name="month_next" value={{month_next}}>></button>
                    <input type="hidden" name=month_cur value={{month_digit}}>
                </form>
            </td>
            </tr>
        </table>
        </div>

        <table class="table-condensed table-bordered table-striped">
<!--                        <thead> -->
                            <tr>
                                <th>Пн</th>
                                <th>Вт</th>
                                <th>Ср</th>
                                <th>Чт</th>
                                <th>Пт</th>
                                <th>Сб</th>
                                <th>Вс</th>
                            </tr>
<!--                        </thead> -->
                        <tbody>
                        {% for week in days %}
                            <tr>
                            {% for day in week %}
                                <td>
<!--                                    {{day}} -->
                                    <p><a class="btn" href="/day?day={{day}}&month={{month_digit}}">{{day}}</a></p>
                                    <p><a class="btn" href="/duty?day={{day}}&month={{month_digit}}&user={{schedule_days[day]}}">{{schedule_days[day]}}</a></p>
                                </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
        </table>
        </div>

        <div class="col-md-3 col-md-offset-1">
        <table>
            <tr>
            <td>
                <form class="navbar-form navbar-left" action="/" method="POST">
                    <button type="submit" class="btn btn-default" name="month_schedule" value={{month_digit}}>Запланировать дежурства</button>
                    <input type="hidden" name=month_cur value={{month_digit}}>
                </form>
            </td>
            </tr>
            <tr>
            <td>
                <form class="navbar-form navbar-left" action="/useradd" method="POST">
                    <button type="submit" class="btn btn-default">Добавить</button>
                        <input type="text" class="form-control" placeholder="пользователь" name="user">
                        <input type="hidden" name=month_cur value={{month_digit}}>
                </form>
            </td>
            </tr>
            <tr>
            <td>
                <form class="navbar-form navbar-left" action="/userdel" method="POST">
                    <button type="submit" class="btn btn-default">Удалить</button>
                        <input type="text" class="form-control" placeholder="пользователь" name="user">
                        <input type="hidden" name=month_cur value={{month_digit}}>
                </form>
            </td>
            </tr>
        </table>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="/static/js/bootstrap.min.js"></script> -->
  </body>
</html>

